<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dairyfarming">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dairy Farming"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DairyFarming">

        <!-- Splash as launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity" android:exported="true" />
        <activity android:name=".SignupActivity" android:exported="false" />
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".AddCattleActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ReportActivity" />
        <activity android:name=".AddBuffaloActivity" />

        <activity android:name=".RecordMilkActivity" />
        <activity android:name=".DashboardActivity" />
        <activity android:name=".ProfileActivity" />



    </application>

</manifest>
